# repository
node_modules
.uup
.vercel
.turbo
.next
next-env.d.ts

# temporary files
*.temp.*
*.bkp
*.tsbuildinfo

# debug
*-debug.log*
*-error.log*

# local env files
.env*
!.env.example

# miscellaneous
public/*.sprite.svg
public/static
