{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "arrowParens": "always",
  "bracketSameLine": true,
  "importOrder": [
    "^(react|next).*",
    "<THIRD_PARTY_MODULES>",
    "^[./]",
    "<TYPES>"
  ],
  "plugins": [
    "prettier-plugin-pkg",
    "prettier-plugin-imports",
    "prettier-plugin-jsdoc",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 120,
  "quoteProps": "consistent",
  "tailwindFunctions": ["clsx", "cn"],
  "trailingComma": "all"
}
