@use 'sass:math';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 240 5% 96.7%;
  --card-fg: 240 10% 3.9%;
  --popover: 240 5% 94.6%;
  --popover-fg: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-fg: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-fg: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-fg: 240 3.8% 46.1%;
  --destructive: 0 84.2% 60.2%;
  --destructive-fg: 0 0% 98%;
  --border: 240 5.9% 89%;
  --subtle: 240 5.9% 65%;
  --input: 240 5.9% 90%;
  --ring: 240 10% 3.9%;
  --accent: 93 92% 70%;
  --accent-lighter: 91 96% 89%;
  --accent-light: 92 96% 80%;
  --accent-dark: 94 85% 55%;
  --accent-darker: 95 88% 44%;

  &[data-theme='dark'] {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 6% 6.5%;
    --card-fg: 0 0% 98%;
    --popover: 240 6% 6.5%;
    --popover-fg: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-fg: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-fg: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-fg: 240 5% 64.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-fg: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --subtle: 240 5.9% 40%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --accent: 93 92% 70%;
    --accent-lighter: 91 96% 89%;
    --accent-light: 92 96% 80%;
    --accent-dark: 94 85% 55%;
    --accent-darker: 95 88% 44%;
  }
}

.__background_dot_grid {
  @apply pointer-events-none text-subtle opacity-35 dark:opacity-20;
  @apply absolute inset-0 top-1 -z-50 bg-fixed;
  background:
    fixed 0 0 / 1.5rem 1.5rem radial-gradient(currentcolor 1px, transparent 0),
    fixed 0.75rem 0.75rem / 1.5rem 1.5rem radial-gradient(currentcolor 1px, transparent 0);
  mask: linear-gradient(180deg, currentcolor, transparent 50vh);
}

html {
  scrollbar-gutter: stable;
  @apply bg-background text-foreground motion-safe:scroll-smooth;
}

body {
  @apply flex min-h-svh flex-col;
}
