@import 'tailwindcss';
@import 'tailwindcss-pluggables/animate';

@import './variables.css';

@theme inline {
  --font-sans: var(--font-sans);
  --font-code: var(--font-code);
  --font-heading: var(--font-heading);
  /* border-radius */
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 14px;
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-fg: var(--sidebar-fg);
  --color-sidebar: var(--sidebar);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-fg: var(--sidebar-accent-fg);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-fg: var(--sidebar-primary-fg);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-ring: var(--ring);
  --color-subtle: var(--subtle);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-fg: var(--accent-fg);
  --color-accent: var(--accent);
  --color-muted-fg: var(--muted-fg);
  --color-muted: var(--muted);
  --color-secondary-fg: var(--secondary-fg);
  --color-secondary: var(--secondary);
  --color-primary-fg: var(--primary-fg);
  --color-primary: var(--primary);
  --color-popover-fg: var(--popover-fg);
  --color-popover: var(--popover);
  --color-card-fg: var(--card-fg);
  --color-card: var(--card);
  --color-highlight: var(--highlight);
}

@layer base {
  html {
    scrollbar-gutter: stable;
    color-scheme: dark only;
    interpolate-size: allow-keywords;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--foreground);
    scroll-behavior: smooth;
  }

  body {
    overflow-x: clip;
  }

  body::after {
    content: '';
    position: absolute;
    inset: 0;
    top: 0.25rem;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.15;
    background:
      fixed 0 0 / 1.5rem 1.5rem radial-gradient(currentcolor 1px, transparent 0),
      fixed 0.75rem 0.75rem / 1.5rem 1.5rem
        radial-gradient(currentcolor 1px, transparent 0);
    mask: linear-gradient(to bottom, currentcolor, transparent 50vh);
  }
  [data-theme='dark'] body::after {
    opacity: 0.1;
  }

  * {
    paint-order: stroke fill markers;
    outline-offset: 4px;
    border-style: solid;
    border-color: var(--color-border);
    scroll-margin-top: calc(var(--header-height, 0) + 2rem);
  }

  *::selection {
    background: --alpha(var(--color-ring) / 50%);
  }
}

/* variants ----------------------------------------------------------------- */

@custom-variant hocus (&:is(:hover, :focus-visible));

@custom-variant dark (&:where([data-theme='dark'] *));

/* utilities ---------------------------------------------------------------- */

@utility container {
  @apply mx-auto w-full max-w-[56rem] px-4 md:px-6;
}

@utility link {
  @apply rounded-xs text-foreground underline decoration-current/50 underline-offset-4;
}

@utility focus-ring {
  @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-ring/75;
  @apply ring-offset-background focus-visible:ring-offset-2;
}
